html  {
    font-size: 100%;
    box-sizing: border-box;
   
}


*, *::after, *::before {
    font-size: inherit;
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}
main {
    width: auto;
}
img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
